.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 100px 40px;
}
.header {
    grid-column: span 12;
    grid-row: 0;
}
.content {
    grid-column-start: 4;
    grid-column-end: 8;
}