@use crate::prelude::*;
@use crate::templates::*;
@use db::Assignment;
@use db::Strategy;
@use crate::assignments::AssignmentItem;
@use crate::assignments::StratTuple;

@(base : &BaseTemplateInfo, items : Vec<AssignmentItem>, periods : Vec<String>, strategies: Vec<StratTuple>)

@:layout(base, {
<h2>Assignments</h2>
<table id="assignments">
    <thead>
    <tr>
        <th>Exchange</th>
        <th>Pair</th>
        <th>Period</th>
        <th>Strategy</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @for i in items {
    <tr>
        <td>@i.exchange</td>
        <td>@i.pair</td>
        <td>
            <select name="period" id="period" data-idx="@i.pi">
                <option value="none">None</option>
                @for p in periods.iter() {
                <option value="@p">@p</option>
                }
            </select>
        </td>
        <td>
            <select name="strategy_id" id="strategy_id" data-idx="@i.si">
                <option value="none" data-id="0">None</option>
                @for s in strategies.iter() {
                <option value="@s.0" data-id="@s.1">@s.0</option>
                }
            </select>

        </td>
        <td>
            <form method="post" action="/assignments" id="save">
                <input name="exchange" type="hidden" value="@i.exchange">
                <input name="pair" type="hidden" value="@i.pair">
                <input name="owner_id" type="hidden" value="0">

                <input name="period" type="hidden" value="@i.period.unwrap_or("none".into())">
                <input name="strategy_id" type="hidden" value="@i.si">

                <input type="submit" value="Save"/>
            </form>
        </td>
    </tr>
    }
    </tbody>
</table>
<script src="/static/assignment-rows.js" type="text/javascript" charset="utf-8"></script>
})