@use crate::prelude::*;
@use crate::templates::*;
@use db::Strategy;
@use db::Evaluation;

@(base : &BaseTemplateInfo, strat : Strategy, evals : Vec<Evaluation>)

@:layout(base, {

<div class="editor-container">
    <form method="POST" action="/strategies/@strat.id">
        <label for="editor">Strategy body</label>
        <div id="editor" style="min-height: 200px">@strat.body</div>
        <input type="hidden" name="body" id="editor-dest" value="" >
        <input type="text" name="name" hidden value="@strat.name">
        <input type="submit" id="editor-submit" value="Save">
    </form>

    <script src="/static/init-editor.js" type="text/javascript" charset="utf-8"></script>
</div>

    <table>
        <thead>
        <tr>
            <th>Time</th>
            <th>Type</th>
            <th>Status</th>
            <th>Output</th>
        </tr>
        </thead>
        <tbody>
        @for e in evals {
        <tr>
            <td>@e.time</td>
            <td>@e.exchange @e.pair @e.period</td>
            <td>@e.status</td>
            <td>@(e.ok.or(e.error).unwrap())</td>
        </tr>
        }
        </tbody>
    </table>


})