@use crate::prelude::*;
@use crate::templates::*;

@(base : &BaseTemplateInfo, content : Content)
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trader app</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
</head>
<body>
@:auth_block(base)
<div class="wrapper">
    @if let Some(errors) = base.errors.as_ref() {
    @for e in errors {
    <div class="alert alert-primary" role="alert">
        Error: @e
    </div>
    }
    }

    @:content()
</div>
</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</html>