@use crate::prelude::*;
@use crate::templates::*;

@(base : &BaseTemplateInfo, content : Content)
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trader app</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>


</head>
<body>
<div class="root">
    <div class="header">
        @:auth_block(base)
    </div>

    @if let Some(errors) = base.errors.as_ref() {
    @for e in errors {
    <div class="alert alert-primary" role="alert">
        Error: @e
    </div>
    }
    }
    <div class="nav">
        <ul>
            <li>bla</li>
            <li>bla</li>
        </ul>
    </div>
    <div class="main">
        @:content()
    </div>
    <div class="footer"></div>
</div>
</body>

</html>