@use crate::prelude::*;
@use crate::templates::*;

@(base : &BaseTemplateInfo, content : Content)
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trader app</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>


    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/mode-lua.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/theme-dreamweaver.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ext-language_tools.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ext-emmet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/snippets/lua.js"></script>

</head>
<body>
<div class="root">
    <div>
        @:auth_block(base)
    </div>

    @if let Some(errors) = base.errors.as_ref() {
    @for e in errors {
    <div class="alert alert-primary" role="alert">
        Error: @e
    </div>
    }
    }
    <div class="nav">
        <ul>
            <li><a href="/strategies">Strategies</a></li>
            <li><a href="/assignments">Assignments</a></li>
            <li><a href="/evaluations">Evaluations</a></li>
            <li><a href="/traders">Trader accounts</a></li>
        </ul>
    </div>
    <div class="main">
        @:content()
    </div>
    <div class="footer"></div>
</div>
</body>
</html>